div.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner .column-header-name 
{ 
    margin-left: unset;
}

/* Within Container */
.zoom-within-container 
{
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.zoom-within-container img 
{
    transition: transform .5s ease;
} 

.zoom-within-container:hover img 
{
    transform: scale(1.5);
}

/* Without Container */
.zoom-without-container 
{
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom-without-container img
{
    width:100%;
    height: auto;
}

.zoom-without-container:hover 
{
    transform: scale (1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}